<div id="post-{{id}}" class="card">
    <img class="card-image" src="{{thumbnail}}" alt="missing image">
    <div class="card-body">
        <br>
        <p class="card-title">{{title}}</p>
        <p class="card-text">{{description}}</p>
        <a href="/posts/{{id}}" class="anchor-button">Click here</a>
    </div>
</div>